.vux-1px-b::after {
  border-bottom: 1px solid #E5E5E5;
}

.vux-1px-t::before {
  border-top: 1px solid #E5E5E5;
}

.vux-cell-placeholder {
  color: #ccc;
}

.weui-label {
  font-size: 14px;
  color: #666;
  padding: 0 9px;
}

li {
  list-style: none;
}

input {
  border: 0;
  outline: none;
}

input:read-only {
  color: #999;
  background: transparent;
}

input:disabled {
  background: transparent;
}

.fof {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.text-overflow-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.has-tabbar {
  padding-bottom: 55px;
}

img {
  width: 100%;
}
.clearfix::after
{
  display: block;
  content: "";
  overflow: hidden;
  height: 1%;
  clear: both;
}
.pull-left
{
  float: left !important;
}
.pull-right
{
  float: right !important;
}

// 聊天气泡内的样式
.from_textChat_msg,
.to_textChat_msg
{
  .thumbs_container
  {
  padding: 0 !important;
  img:last-child
  {
    margin-right: 0
  }
  }
}
.to_imgChat_msg,
.from_imgChat_msg
{
  padding-top: 10px; 
  .thumbs_container{
    height: 120px;
    padding-top: 0 !important;
    img
    {
      width: auto !important;
      height: 100% !important;
      max-width: 100%;
      border-radius: 5px;
    }
  }
}
.to_imgChat_msg .thumbs_container
{
  float: right;
}
// 聊天气泡内的样式结束

.agreement_context_container span,
.agreement_context_container p,
.agreement_context_container div 
{
  max-width: 100% !important;
  word-break: break-all !important
}