.vux-1px-b::after {
  border-bottom: 1px solid #E5E5E5;
}

.vux-1px-t::before {
  border-top: 1px solid #E5E5E5;
}

.vux-cell-placeholder {
  color: #ccc;
}

.weui-label {
  font-size: 14px;
  color: #666;
  padding: 0 9px;
}

li {
  list-style: none;
}

input {
  border: 0;
  outline: none;
}

input:read-only {
  color: #999;
  background: transparent;
}

input:disabled {
  background: transparent;
}

.fof {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.text-overflow-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.has-tabbar {
  padding-bottom: 55px;
}

img {
  width: 100%;
}
.clearfix::after
{
  display: block;
  content: "";
  overflow: hidden;
  height: 1%;
  clear: both;
}
.pull-left
{
  float: left !important;
}
.pull-right
{
  float: right !important;
}

// 聊天气泡内的样式
.from_textChat_msg,
.to_textChat_msg
{
  .thumbs_container
  {
  padding: 0 !important;
  img:last-child
  {
    margin-right: 0
  }
  }
  .text_emoji_items
  {
    display: inline-block;
    width: 28px;
    height: 28px;
    zoom: 1;
    border: none;
    vertical-align: middle;
    background-repeat: no-repeat
  }
}
.to_imgChat_msg,
.from_imgChat_msg
{
  padding-top: 10px; 
  .thumbs_container{
    height: 120px;
    padding-top: 0 !important;
    img
    {
      width: auto !important;
      height: 100% !important;
      max-width: 100%;
      border-radius: 5px;
    }
  }
}
.to_imgChat_msg .thumbs_container
{
  float: right;
}
// 聊天气泡内的样式结束

.agreement_context_container span,
.agreement_context_container p,
.agreement_context_container div 
{
  max-width: 100% !important;
  word-break: break-all !important
}
// 地址编辑
.addressEdit_container
{
  .vux-checker-item
  {
    display: inline-block;
    border: 1px solid #3ac7f5;
    padding: 0 10px;
    font-size: 12px;
    margin-right: 15px;
    color: #3ac7f5;
  }
  .tags-item-selected
  {
    background-color: #3ac7f5;
    color: #fff
  }
  .address_select_control
  {
    min-height: 40px;
    padding: 10px 0;
    box-sizing: border-box;
    text-align: left;
    .weui-cell_access
    {
      padding: 0
    }
    .vux-tap-active
    {
      -webkit-tap-highlight-color: rgba(0,0,0,0) !important
    }
    &::before
    {
      display: none;
    }
    .vux-popup-picker-select
    {
      text-align: left !important;
      font-size: 14px !important;
    }
  }
}


.amap-sug-result {
  z-index: 9999;
  padding: 0 10px;
  margin-top: 5px;
  overflow: hidden;
  max-width: calc(100vw - 150px) !important;
  border: 1px solid #e4e7ed;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  box-sizing: border-box;
  max-height: 300px;
  overflow: scroll;
}

.auto-item {
  white-space: initial;
  border-bottom: 1px solid #f1f1f1;
}
.auto-item-span {
  display: block;
  padding: 0;
}

.auto-item:hover {
  background-color: #f5f7fa;
}
.search_bar {
  width: 100%;
  color: #333;
  display: inline-block;
  overflow: hidden;
  line-height: 20px;
  z-index: 99;
  .custom-componet-input {
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    height: 80px;
    padding: 10px 0;
    font-size: 14px;
  }
}